<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="/static/app-style.css">
  <script src="https://kit.fontawesome.com/cbf74a5bf6.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="chat-box">
    <div class="chat-box-header">
      <h3>Message Us</h3>
      <p>
        <i class="fa fa-times fa-xl"></i>
      </p>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-body-send">
        <p>{{user_input}}</p>
        <span>12:00</span>
      </div>
      <div class="chat-box-body-receive">
        <p id="response1">{{computer_response1}}</p>
        <p id="response2">{{computer_response2}}</p>
        {% if computer_response3 %}
        <p id="response3">{{computer_response3}}</p>
        {% else %}
        <p id="response4">{{computer_response4}}</p>
        {% endif %}
        <p id="response4">{{filtered_tokens}}</p>
        <span>12:00</span>
      </div>

    </div>
    <form action="" method="POST">
      <div class="chat-box-footer">
        <input placeholder="Enter Your Message" type="text" name="user_input" class="chat-input">
        <button type="submit" onclick="createDiv()" class="send-button"><i class="send far fa-paper-plane fa-xl"></i></button>
      </div>
    </form>
  </div>


  <script>
    function createDiv() {

      console.log("clicked");
      // Create a new div element
      var div = document.createElement("div");
    
      // Add some text to the div
      div.innerHTML = "This is a new div element";

      div.style.border = "2px solid red";
    
      // Add the div to the body of the document
      // div.classList.add("chat-box-body-receive");
    }
  </script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <!-- <script src="/static/app-script.js"></script> -->
  <script src="/static/charts.js"></script>
</body>

</html>